<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%= food.name %></title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= food.name %></h1>
    <form
    action="/users/<%= user._id %>/foods/<%=food._id%>?_method=PUT" 
    method="POST">

       <label for="name">Name:</label>
       <input 
       type="text" 
       name="name" 
       id="name"
       value="<%=food.name%>">
       <button type="submit">Update Food</button>
    </form>
      
    <a href="/users/<%= user._id %>/foods">Cancel</a>
  </body>
</html>
